body {
    font-family: sans-serif;
    background:linear-gradient( blue,white,lightblue);
}

header{
    text-align: center;
    color: rgb(0, 0, 0);
}

p{
    border: 4px solid pink;
    border-radius: 40px;
    margin: 30px;
}

img{
    border: 5px solid purple;
    border-radius: 60px;
    padding: 30px;
    margin: 30px;
}

nav{
    text-align: center;
    font-size: 30px;
    border: 3px solid red;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
}

footer{
    text-align: center;
    background-color: aqua;
    padding: 35px;
}

.nav-link{
    color: white;
}