body {
    font-family: sans-serif;
    background:linear-gradient( rgb(56, 56, 248),white,lightblue);
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    color: white;
}

main{
    text-align: center;
}

p{    
    margin: 30px;
    font-size: 20px;
}

.text{
    border: 4px solid pink;
    border-radius: 40px;
}

img{
    border: 5px solid purple;
    border-radius: 60px;
    padding: 30px;
    margin: 30px;
}

img:hover{
    box-shadow: 0 1px 10px 5px rgb(112, 36, 112);
}

nav{
    text-align: center;
    font-size: 30px;
    border: 3px solid red;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
}

footer{
    text-align: center;
    background-color: pink;
    padding: 35px;
    color: white;
    text-shadow: 0 1px 7px grey;
    font-size: 22px;
    font-weight: 600;
}

.nav-link{
    color: white;
    margin: 0 35px;
}